<article class="post featured">
    <header class="major">
        <h2>
            <a href="#">
                @((MarkupString)Header)
            </a>
        </h2>
        <p>
            @((MarkupString)Description)
        </p>
    </header>
    <a href="#" class="image main"><img src="@ImageUrl" alt="" /></a>
    <ul class="actions special">
        <li><a href="@LinkUrl" class="button large">@LinkText</a></li>
    </ul>
</article>

@code {
    [Parameter]
    public DateTime Date { get; set; }

    [Parameter]
    public string Header { get; set; }

    [Parameter]
    public string ImageUrl { get; set; }

    [Parameter]
    public string Description { get; set; }

    [Parameter]
    public string LinkUrl { get; set; }

    [Parameter]
    public string LinkText { get; set; } = "Full Story";

}
